/* Hero Section */
.hero-section-detail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    background-color: #ccc; 
}

.hero-content-detail {
    text-align: center;
}

.hero-content-detail.loaded {
    padding-top: 50vh; /* Solo se aplica cuando la imagen está cargada */
}

.hero-content-detail h3 {
    font-size: 3rem;
    text-transform: uppercase;
}

/* Detalles del Proyecto */
.project-details {
    padding: 2rem;
    background-color: #f4f4f4;
    min-height: 400px; /* Asegura espacio mínimo mientras carga */
}

.project-details h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.project-details p {
    font-size: 1.2rem;
    color: #555;
}

/* Galería de Imágenes */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    object-fit: cover;
}


/* Skeletons */
.gallery-item .react-loading-skeleton {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
    .image-gallery {
        grid-template-columns: 1fr;
    }

    .hero-content-detail h3 {
        font-size: 2rem;
    }

    .hero-content-detail.loaded {
        padding-top: 0;
    }

    .gallery-item img {
        height: 200px;
    }
    
    .hero-section-detail {
        height: calc(60vh - 70px) !important;
        margin-top: 70px;
    }
}

.gallery-img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.back-button {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    background-color: #3e5f8a;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #2f4c6f;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.gallery-img {
    /* width: 100%;
    height: 100%; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
}

.image-wrapper:hover .gallery-img {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.hover-overlay {
    position: absolute;
    bottom: -33%;
    left: 0;
    width: 100%;
    height: 33%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s ease;
    pointer-events: none;
}

.hover-overlay span {
    border: 1px solid #fff;
    padding: 6px 14px;
    /* letter-spacing: 1px; */
}

.image-wrapper:hover .hover-overlay {
    bottom: 0;
}




